@font-face {
    font-family: 'extra-bold';
    src: url(../fonts/Manrope-ExtraBold.ttf);
}

@font-face {
    font-family: 'semi-bold';
    src: url(../fonts/Manrope-SemiBold.ttf);
}

@font-face {
    font-family: 'bold';
    src: url(../fonts/Manrope-Bold.ttf);
}

@font-face {
    font-family: 'regular';
    src: url(../fonts/Manrope-Regular.ttf);
}

@font-face {
    font-family: 'light';
    src: url(../fonts/Manrope-Light.ttf);
}

@font-face {
    font-family: 'extra-light';
    src: url(../fonts/Manrope-ExtraLight.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$borda: 1px solid black;
$preto: #000000;
$branco: #D1DAE3;
$fundo-calculadora: #212121;
$operacoes: #161616;
$igual: #2d2e2d;
$digitos: #070707;
$cor-fonte-dark: #ffffff;


body {
    background-color: $preto;
    color: $branco;
    transition: all 0.3s linear 0s;
}

body[light] {
    background-color: $branco;
    color: $preto;
    transition: all 0.3s linear 0s;
}

///Oculto o checkbox
#btn-mode-light {
    display: none;
}
///Cria o elemento com a label::before para da o formato que eu quero
#btn-mode-light + label::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: $branco;
    border-radius: 50%;
    margin-top: 5px;
    cursor: pointer;
}

.btn-mode {
    position: relative;
    bottom: 3px;
    cursor: pointer;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    margin-left: 3px;
    letter-spacing: 1.5px;
}

body[light] #btn-mode-light + label::before{
    background-color: $preto;
}

header {
    height: 10vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    .mode {
        width: 200px;
    }
}


section {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-calculadora {
    height: 70vh;
    width: 30vw;
    border: $borda;
    display: flex;
    flex-direction: column;    
    box-shadow: $branco 0px 0px 20px 4px;


    .visor {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20vh;
        width: 100%;
        box-sizing: border-box;
        
        .operacao-anterior, .operacao-inserida {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 20px;
        }

        .operacao-anterior {
            height: 8vh;
            width: 100%;
            background-color: $fundo-calculadora;
            font-family: 'light';
            font-size: 16px;
        }
    
        .operacao-inserida {
            height: 12vh;
            width: 30vw;
            background-color: $fundo-calculadora;
            font-family: 'semi-bold';
            font-size: 3vw;
            word-wrap: break-word;
        
            .error {
                display: none;
                color: #ff0000;
                font-size: 16px;
                text-transform: uppercase;
            }

            #inserido {
                max-width: 28vw;
            }
        }
    }

    .entradas {
        height: 49.8vh;
        width: 100%;
        background-color: $fundo-calculadora;
        padding: 1vh 1vw 1vh 0.4vw;
        display: grid;
        grid-template-columns: 6.9vw 6.9vw 6.9vw 6.9vw;
        grid-column-gap: 0.5vw;
        grid-row-gap: 0.5vw;
        
        .operacoes, .resultado {
            background-color: $operacoes;
            border: none;
            color: $cor-fonte-dark;
            font-size: 22px;
            font-family: 'light';
            outline: 0 !important;
            cursor: pointer;
        }
    
        #btn-div, #btn-sub {
            font-size: 30px;
        }

        .igual {
            border: none;
            background-color: $igual;
            grid-column-start: 4;
            grid-column-end: 4;
            grid-row-start: 4;
            grid-row-end: 6;
        }

        .digitos {
            background-color: $digitos;
            border: none;
            color: $cor-fonte-dark;
            font-size: 21px;
            font-family: 'regular';
            outline: 0 !important;
            cursor: pointer;
        }

        .operacoes:hover, .resultado:hover, .digitos:hover {
            background-color: #494949;
            // background-color: #35353598;
        }

        .igual:hover {
            background-color: #858585;
        }

        .operacoes[disabled]{
            background-color: $operacoes;
            color: #353535;
            cursor: default;
        }

        #btn-ponto[disabled], #btn-negative[disabled] {
            background-color: $operacoes;
            color: #353535;
            cursor: default;
        }
    }
}


body[light] .caixa-calculadora {
    box-shadow: $preto 0px 0px 20px 4px;

    .visor {
        .operacao-anterior {
            background-color: $branco
        }
    
        .operacao-inserida {
            width: 29.5vw;
            background-color: $branco;
        } 
    }

    .entradas {
        background-color: $branco;
        
        .operacoes {
            background-color: #001fa8;
            border: none;
            color: #ffffff;
        }

        .resultado {
            background-color: #d25d19;
        }

        .igual {
            background-color: #00b4cc;
        }

        .digitos {
            background-color: #6C7D98;
            font-weight: bold;
            border: none;
        }

        .operacoes:hover{
            background-color: #011050;
        }

        .resultado:hover {
            background-color: #863100;
        }

        .digitos:hover {
            background-color: #475264;
        }

        .igual:hover {
            background-color: #026c7a;
        }

        .operacoes[disabled], #btn-ponto[disabled], #btn-negative[disabled]{
            background-color: #232a35;
            color: #8d8d8d;
        }

    }
}

@media (max-width: 1023px) {

   header {
        height: 15vh;
        align-items: center;
       .mode {
            width: 230px;
        }

        #btn-mode-light + label::before{
            width: 30px;
            height: 30px;
        }
        
        .btn-mode {
            bottom: 5px;
            font-size: 24px;
            margin-left: 10px;
        }
    }

    section {
        height: 85vh;
    }

    .caixa-calculadora {
        height: 85vh;
        width: 100vw;
        border: none;
        box-shadow: none;
        box-sizing: border-box;
        .visor {
            width: 100%;
            
            .operacao-anterior, .operacao-inserida {
                padding-right: 15px;
            }
    
            .operacao-anterior {
                height: 8vh;
                width: 100%;
                font-size: 4vw;
            }
        
            .operacao-inserida {
                height: 12vh;
                width: 100%;
                font-size: 10vw;
            
                .error {
                    display: none;
                    color: #ff0000;
                    font-size: 20px;
                }
    
                #inserido {
                    max-width: 100%;
                    font-size: 10vw;
                }
            }
        }

        .entradas {
            flex-grow: 1;
            grid-template-columns: 23vw 23vw 23vw 23vw;
            grid-column-gap: 1.5vw;
            grid-row-gap: 1.5vw;
            padding: 0vh 0vw 1vh 1.6vw;
        }
    }

    body[light] .caixa-calculadora {
            
        .visor {
            .operacao-inserida {
                width: 100%;
            }
        }
    }    

    // .operacoes:hover, .resultado:hover{
    //     background-color: none;
    // }

    .resultado:hover {
        background-color: #863100;
    }

    .digitos:hover {
        background-color: #475264;
    }

    .igual:hover {
        background-color: #026c7a;
    }

    // .caixa-calculadora{
    //     .entradas {
    //         .operacoes:not(.operacoes):hover {
    //             background-color: transparent;
    //        }
    //     }   
    // }
}


@media (max-width: 500px) {
    header {
       .mode {
            width: 160px;
        }

        #btn-mode-light + label::before{
            width: 25px;
            height: 25px;
        }
        
        .btn-mode {
            bottom: 7px;
            font-size: 18px;
            margin-left: 8px;
        }
    }
}